@import 'styles/variables';

.shuffle-button {
  width: 26px;
  height: 26px;

  svg {
    width: 100%;
    height: auto;
    fill: $c-purple;
    transition: fill 0.3s;
  }

  &.is-active svg {
    fill: $c-white;
  }
}