// Colors
$c-purple: #6F729C;
$c-purple-dark: #1f1937;
$c-white: #fff;
$c-black: #000;
$c-cyan: #00c9b7;
$c-lightgrey: #9a9b9b;

// z-index:
$zi-under: -1;
$zi-bottom: 1;
$zi-medium: 5;
$zi-top: 9;
$zi-overlay: 10;

// layout
$col-width: 100% / 9;