@import 'styles/variables';
@import 'styles/mixins';

.previous-song-button {
  position: relative;
  z-index: $zi-bottom;
  width: 23px;
  height: 20px;

  @include respond-to(small) {
    width: 30px;
    height: 26px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}