@import 'styles/variables';
@import 'styles/mixins';

.songs-slider {
  .swiper-slide {
    width: 7 * $col-width;

    @include respond-to(medium) {
      width: 1.5 * $col-width;
    }
  }

  &__cover {
    @include center;
    display: block;
    border-radius: 50%;
    width: 5 / 7 * 100%;
    transition: transform 0.5s, margin 0.5s;
  }

  .swiper-slide {
    .songs-slider__cover {
      @include respond-to(medium) {
        transform: scale(0.6);
      }
    }
  }

  .swiper-slide-active {
    .songs-slider__cover {
      @include respond-to(medium) {
        transform: scale(1);
      }
    }
  }

  .swiper-slide-next {
    .songs-slider__cover {
      transform: translateX(-50%) scale((2 / 5));

      @include respond-to(medium) {
        transform: scale(0.6);
      }
    }
  }

  .swiper-slide-prev {
    .songs-slider__cover {
      transform: translateX(50%) scale((2 / 5));

      @include respond-to(medium) {
        transform: scale(0.6);
      }
    }
  }
}