@import 'styles/variables';
@import 'styles/mixins';

.player {
  position: relative;
  // padding-top: 25px;
  // margin-bottom: 105px;

  // @include respond-to(small) {
  //   padding-top: 91px;
  //   margin-bottom: 105px;
  // }

  &__song-name,
  &__author,
  &__buttons {
    @include center;
    width: 7 * $col-width;
  }

  &__song-name {
    margin-top: 30px;

    @include respond-to(small) {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;

    @include respond-to(small) {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }
}